@import "../../../../../common/assets/css/main.scss";

.segment {
  padding: 100px 0px;
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
  button.save-segment-btn {
    cursor: pointer;
    position: relative;
    z-index: 2;
    overflow: visible;
    vertical-align: middle;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    text-transform: capitalize;
    text-align: center;
    background-color: $themecolor;
    color: #fff;
    font-family: $themefont;
    font-size: 17px;
    font-weight: 400;
    padding: 5px 20px;
    line-height: inherit;
    border-radius: 5px;
    -webkit-transition: background-color 0.25s linear, color 0.4s ease-in-out;
    transition: background-color 0.25s linear, color 0.4s ease-in-out;
    text-decoration: none;
    margin: 0px auto;
    &:before {
      content: "";
      position: absolute;
      height: 100%;
      bottom: 0;
      left: 0;
      width: 0;
      background-color: #000;
      z-index: -1;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      border-radius: inherit;
      @include themed() {
        background-color: t("whitecolor");
      }
    }
    &:hover {
      color: #fff;
      background-color: #000;
      @include themed() {
        background-color: t("whitecolor");
        color: t("blackcolor");
      }
    }
    &:hover::before {
      width: 100%;
    }
  }
  .Toastify {
    .Toastify__toast {
      font-family: $themefont !important;
      font-size: 16px;
      font-weight: 400;
    }
    .Toastify__toast-theme--dark {
      background: #170c3a;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
  .segment {
    height: calc(100vh - 130px);
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .segment {
    height: calc(100vh - 145px);
  }
}
